<% content_for(:head) do %>
  <%= javascript_include_tag 'ads' %>
  <%= javascript_include_tag 'jquery.watermarkinput' %>
<% end %>

<div id="data-container">
  <%= render :partial => "ads/index/details.html.erb" %>
  <%= search_cities_select_boxes %>
</div>

<%= render :partial => "ads/index/search_box" %>
<%= render :partial => "shared/breadcrumbs" %>
<%= render :partial => "ads/index/tabs_list" %>
<%= render :partial => "ads/index/listing" %>

<% content_for :bottom do %>
  <%= render :partial => "ads/bottom"%>
<% end %>

