<div id="header">
  <div class="wrap">
    <div class="logo"><%= link_to image_tag('logo.png'), root_path %></div>
    <div class="toplinks">
      <ul class="topmenu">
        <li><%= link_to image_tag('icon_home.png'), root_path %></li>
        <li><%= link_to image_tag('icon_fav.png'), '#' %></li>
        <li><%= link_to image_tag('icon_search.png'), ads_path %></li>
        <li><%= link_to image_tag('icon_ad.png'), new_ad_path %></li>
      </ul>
    </div>
  </div>
</div>
