<ul class="categoriesFound">
  <% if params[:search][:category_parent_name].blank? && params[:search][:category_name].blank? %>
    <% @facets[:category_parent_text].each do |text, count| %>
      <li>
        <a href="<%= search_url_with(:category_parent_name => text.to_crc32) %>"><%= text.strip.blank? && "Other" || text %></a>, <%= number_with_delimiter(count) %>
      </li>
    <% end %>
  <% else %>
    <% if params[:search][:category_name].blank? %>
      <% @facets[:category_text].each do |text, count| %>
        <li>
          <a href="<%= search_url_with(:category_name => text.to_crc32) %>"><%= text %></a>, <%= number_with_delimiter(count) %>
        </li>
      <% end %>
    <% else %>
      <% @city_facets[:city_text].each do |text, count| %>
        <li>
          <% if params[:search][:city_name].to_i == text.to_crc32 %>
            <%= text %>, <%= number_with_delimiter(count) %>
          <% else %>
            <a href="<%= search_url_with(:city_name => text.to_crc32) %>"><%= text %></a>, <%= number_with_delimiter(count) %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<div class="clear"></div>

