<div id="listing">
  <%= render :partial => "ads/index/facets.html.erb" %>

  <% if @ads.empty?%>
    No ads were found!
  <% else %>
    <ul class="list">
      <% @ads.each do |ad| %>
        <li> 
          <div class="date"><%= ad.timestamp %></div>
          <div class="list-image"><%= image_tag ad.logo unless params[:hide_thumbnails] %></div>
          <div class="list-name">
            <span class="name"><a href="#"><%= ad.title %></a></span><br/>
            <span class="price"><%= currency(ad.price) %></span>
          </div>
          <div class="list-detail">
            <% if params[:search][:category_name].blank? %>
              <%= link_to ad.category.name, search_url_with(:category_name => ad.category.name.to_crc32) %>
            <% else %>
              <%= ad.try(:detail, :status) %>
            <% end %>
            <%= '(C)' if !ad.private %>
            <br/>
            <% if params[:search][:city_region].blank? %>
              <%= ad.city.region %>
            <% else %>
              <% if params[:search][:city_name].blank? %>
                <%= ad.city.name %>
              <% end %>
            <% end %>
          </div>  
        </li>
      <% end %>
    </ul>
    <div id="list-nav">
      <%= pagination_links %>
    </div>
  <% end %>
  
</div>

<div class="clear"></div>

